<!DOCTYPE html>
<html>
<head>
    <title>It's</title>
    <% stylesheet('bootstrap/dist/css/bootstrap.min.css') -%>
    <%-stylesheets%>
    <% script('jquery/dist/jquery.min.js')%>
    <%-scripts%>
</head>
<body>
<header>
</header>
<section>
    <%-body -%>
</section>
<footer>
</footer>
</body>
</html>