<!DOCTYPE html>
<html>
<head>
    <title>It's</title>
    <%-scripts%>
    <% stylesheet('bootstrap/dist/css/bootstrap.min.css') -%>
    <%-stylesheets%>
</head>
<body>
<header>
</header>
<section>
    <%-body -%>
</section>
<footer>
</footer>
</body>
</html>